.port_con {
    max-width: 1248px;
    margin: 50px auto;
    overflow: hidden;

    h1 {
        font-size: 50px;
        color: #fb6f92;
        text-align: center;
    }

    h1::before,
    h1::after {
        content: '';
        display: inline-block;
        width: 25px;
        height: 3px;
        background-color: #0085FF;
        margin: 10px 0;
    }

    h2 {
        color: #0085FF;
        font-size: 40px;
        margin-top: 40px;
        margin-left: 20px;
    }

    .port_title {
        text-align: center;
        color: #fb6f92;
    }

    .port_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

        .port_items {
            margin-top: 50px;

            .text1 {
                color: #0085FF;
            }

            .ul_project {
                font-size: 20px;

                li {
                    margin-left: 30px;
                    margin-top: 10px;
                }
            }

            span {
                color: #fb6f92;
            }

            img {
                margin: 10px;
                max-width: 500px;
                max-height: 400px;
                border-radius: 20px;
                object-fit: cover;
                border: black 5px solid;
            }

            p {
                text-align: left;
                font-size: 25px;
                margin-top: 25px;
            }

            p:nth-of-type(2) {
                text-indent: 2rem;
                font-size: 22px;
                color: #0085FF;
            }

            a {
                display: block;
                text-indent: 1rem;
                margin-top: 20px;
                font-size: 25px;
                color: #0085FF;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .port_con {
        .port_list {
            grid-template-columns: 1fr;
            justify-items: center;

            .port_items {
                img {
                    width: 100%;
                }
            }
        }
    }
}