.skills_wrapper {
    overflow: hidden;
    margin-top: 60px;

    .skills_con {
        max-width: 1248px;
        margin: 0 auto;
        text-align: center;
        color: #333;
        padding: 50px 0;

        h1 {
            font-size: 50px;
            color: #fb6f92;
            text-align: center;
        }

        h1::before,
        h1::after {
            content: '';
            display: inline-block;
            width: 25px;
            height: 3px;
            background-color: #0085FF;
            margin: 10px 0;
        }

        dl {
            margin: 50px 20px;

            dt {
                font-size: 35px;
                color: #0085FF;
                text-align: left;
            }

            dd {
                font-size: 25px;
                margin-top: 25px;
                text-align: left;
            }
        }

        .skills_list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: center;
            list-style: none;
            margin: 20px 0;

            li {
                margin: 20px;

                div {
                    margin-top: 10px;
                    font-size: 25px;
                }

                :hover {
                    color: #fb6f92;
                }
            }

            svg {
                width: 100px;
                height: 100px;
            }
        }

        .skills_items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            list-style: none;

            img {
                margin: 10px;
                max-width: 573px;
                max-height: 405px;
                border-radius: 20px;
                object-fit: cover;
                border: black 5px solid;
            }
        }
    }
}

@media screen and (max-width: 1200px) and (min-width: 801px) {
    .skills_wrapper {
        .skills_con {

            .skills_img {
                grid-template-columns: 1fr;
            }

            .skills_items {
                grid-template-columns: 1fr 1fr;

                & img {
                    max-width: 90%;
                }
            }

            .skills_list {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
    .skills_wrapper {
        .skills_con {

            .skills_img {
                grid-template-columns: 1fr;
            }

            .skills_items {
                grid-template-columns: 1fr;

                & img {
                    max-width: 95%;
                }
            }

            .skills_list {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .skills_wrapper {
        .skills_con {

            .skills_img {
                grid-template-columns: 1fr;
            }

            .skills_items {
                grid-template-columns: 1fr;

                & img {
                    max-width: 90%;
                }
            }

            .skills_list {
                grid-template-columns: 1fr;

            }
        }
    }
}