@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
  scroll-behavior: smooth;
}

nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
}